<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>

<body>
  <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
  <div class="container row mt-5 ml-5 d-flex align-items-center justify-content-center">
    <div class="col-lg-6 col-md-6 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>COMMISIONER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR CREATING A NODAL OFFICER, CLICK</p>
          <a href="/createNodalOfficer" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>COMMISIONER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR CREATING A RATION RETAILER, CLICK</p>
          <a href="/createRationRetailer" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>COMMISIONER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR SHIFTING A FAMILY FROM ONE TALUK TO ANOTHER, CLICK</p>
          <a href="/shiftFamilyToAnotherTaluk" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-6 col-md-6 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>COMMISIONER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR SHIFTING A CONSUMER FROM RATION CARD TO ANOTHER, CLICK</p>
          <a href="/shiftConsumerToAnotherRationCard" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
  </div>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>