<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%=title%>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>

<body>
  <h1>
    <%= title%>
  </h1>
  <div class="form-modal">

    <div id="man-form">
      <h3>
        <%= subTitle%>
      </h3>
      <form id="manform" action="/changeMobileNumber/submit" method="POST"
        onsubmit="return validateChangeMobileNumberForm();">
        <table>
          <tr>
            <input name="rationCardNumber" id="rationCardNumber" class="form-control" type="text"
              placeholder="Enter Ration Card Number" />
          </tr>
          <tr>
            <input name="newMobileNumber" id="newMobileNumber" class="form-control" type="text"
              placeholder="Enter New Mobile Number" />
          </tr>
        </table>
        <button type="submit" class="btn login">
          <%= subTitle%>
        </button>

      </form>

    </div>
  </div>
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
  <script src="/javascripts/index.js"></script>
</body>

</html>