<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
  <link rel='stylesheet' href='/stylesheets/dashboard.css' />
</head>

<body>
  <!-- <h1><%= title %></h1>
    <p>Welcome to <%= title %></p> -->
  <div class="container row mt-5 ml-5 d-flex align-items-center justify-content-center">
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR CREATING A RATION CARD, CLICK</p>
          <a href="/createRationCard" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR DELETING A RATION CARD, CLICK</p>
          <a href="/deleteRationCard" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR SHIFTING A FAMILY IN THE SAME WARD, CLICK</p>
          <a href="/shiftFamilyInSameWard" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR SHIFTING A FAMILY IN THE SAME LSG BODY, CLICK</p>
          <a href="/shiftFamilyInSameLSGBody" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR SHIFTING A FAMILY IN THE SAME TALUK, CLICK</p>
          <a href="/shiftFamilyInSameTaluk" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR CHANGING THE MOBILE NUMBER OF A FAMILY, CLICK</p>
          <a href="/changeMobileNumber" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR CHANGING THE ELECTRICITY CONNECTION STATUS OF A FAMILY, CLICK</p>
          <a href="/changeElectricityConnection" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR ADDING A NEW CONSUMER TO A RATION CARD, CLICK</p>
          <a href="/addNewConsumer" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR DELETING A CONSUMER, CLICK</p>
          <a href="/deleteConsumer" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR UPDATING THE PERSONAL DETAILS OF A CONSUMER, CLICK</p>
          <a href="/updatePersonalDetails" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-3 mx-auto">
      <div class="card text-center border-primary rounded my-3">
        <h5 class="card-header border-primary bg-primary text-light"><strong>NODAL OFFICER ACTIVITY</strong></h5>
        <div class="card-body">
          <p class="card-title">FOR UPDATING THE PROFESSIONAL DETAILS OF A CONSUMER, CLICK</p>
          <a href="/updateProfessionalDetails" class="btn btn-primary">HERE</a>
        </div>
      </div>
    </div>
  </div>
  
  <script src="/javascripts/popper.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</body>

</html>